*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}
html{
  background-color: #030303;
}
.input-field{
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.notes{
  display: flex;
  padding: 2rem;
  gap: 1rem;
}
.note{
  background-color: #686868;
  color: aliceblue;
  padding: 1rem;
  border-radius: 10px;
}
.updateClass{
  /* display: none; */
}